@use './mixins/sheet-scope' as *;

.buttonbar {
    display: flex;
    margin-bottom: 20px;
}

.maindiv .selectedTab[value="1"] + .buttonbar > button[type="action"].characterSheet,
.maindiv .selectedTab[value="2"] + .buttonbar > button[type="action"].resourcesSheet,
.maindiv .selectedTab[value="3"] + .buttonbar > button[type="action"].settingsSheet {
        background-color: var(--ink);
        color: var(--parchment);
}