@use './mixins/sheet-scope' as *;

.settings {
    @include sheet-scope {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 840px;
        padding: 0;
        margin: 0;
    }
}