@use './mixins/sheet-scope' as *;

.frontPage .topSection .demographics {
    @include sheet-scope {
        display: flex;
        flex-flow: row wrap;
        column-gap: 5px;
        row-gap: 15px;
        font-size: 0.9em;
        flex-grow: 3;
        flex-basis: auto;
        padding: 0;
        align-items: flex-end;
        align-content: end;
        margin: 0 0 15px 0;
        .characterName,
        .playerName,
        .class,
        .race,
        .level,
        .age,
        .gender,
        .height,
        .weight,
        .deity {
            .text-field {
                width: 100%;
            }
        }
        .characterName {
            width: 60%;
        }
        .playerName {
            width: 39%;
        }
        .class {
            width: 50%;
        }
        .race {
            width: 30%;
        }
        .level {
            width: 18%;
        }
        .age,
        .height,
        .weight {
            width: 15%;
        }
        .gender,
        .deity {
            width: 25%;
        }
    }
}