@use './mixins/sheet-scope' as *;

.backPage .topContainer {
    @include sheet-scope {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 10px;
        width: 100%;
        .equipment {
            width: 33%;
            display: flex;
            flex-flow: column;
            row-gap: 5px;
            .headerRow,
            .equipmentList {
                display: flex;
                flex-flow: row nowrap;
                column-gap: 5px;
                width: 100%;
                font-size: .85em;
                padding: 3px 0;
                .item {
                    width: 50%;
                }
                .quantity,
                .weight,
                .carried {
                    width: 16.66%;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                }
                .textField {
                    width: 100%;
                }
                .carried {
                    font-size: 1.4em;
                }
                .quantity .textField,
                .weight .textField {
                    text-align: center;
                }
            }
            .weights {
                display: flex;
                flex-flow: row nowrap;
                column-gap: 5px;
                width: 100%;
                margin: 10px 0 10px 0;
                align-items: center;
                label.fieldLabel {
                    width: 65%;
                    display: inline-block;
                    text-align: left;
                    font-size: 1em;
                }
                .totalWeight {
                    width: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    font-family: var(--numbers);
                    font-size: 1.4em;
                    font-weight: 600;
                }
            }
            .sectionDivider {
                margin: 10px 0;
            }
            .armor {
                display: flex;
                flex-flow: column nowrap;
                row-gap: 5px;
                padding: 3px;
                border-radius: 0 8px;
                margin-top: auto;
                .armorGroup {
                    display: flex;
                    flex-flow: row wrap;
                    column-gap: 5px;
                    width: 100%;
                    .armorType {
                        width: 80%;
                    }
                    .config {
                        left: -5%;
                        top: -6px;
                    }
                    .armorClass {
                        width: 30%;
                        select.ls-Dropdown {
                            background-color: transparent;
                            border: none;
                            font-family: var(--mainBody);
                            font-size: 1.2em;
                            width: 100%;
                        }
                    }
                    .worn {
                        display: inline-block;
                        .shifted {
                            margin: 5px 0 0 -3px;
                        }
                        .isCarried::before {
                            content: "";
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        input:checked+.isCarried::before {
                            background-image: url('https://raw.githubusercontent.com/finderski/Legend-Seeker/main/images/armor_worn.png');
                        }

                        input:not(:checked)+.isCarried::before {
                            background-image: url('https://raw.githubusercontent.com/finderski/Legend-Seeker/main/images/armor_not_worn.png');
                        }
                    }
                    .armor-config {
                        display: flex;
                        flex-flow: row wrap;
                        column-gap: 5px;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        .armorDamageReduction,
                        .willDefense,
                        .fortDefense,
                        .armorLevel,
                        .dexCap {
                            width: 30%;
                            .textField {
                                width: 100%;
                                text-align: center;
                            }
                        }
                        .proficient {
                            display: flex;
                            flex-flow: row wrap;
                            flex-basis: 30%;
                            .ls-Dropdown {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
            .shield {
                display: flex;
                flex-flow: column nowrap;
                row-gap: 5px;
                padding: 3px;
                border-radius: 0 8px;
                .shieldGroup {
                    display: flex;
                    flex-flow: row wrap;
                    column-gap: 5px;
                    width: 100%;
                    .shieldType {
                        width: 80%;
                    }
                    .config {
                        left: -5%;
                        top: -6px;
                    }
                    .shieldClass {
                        width: 30%;
                        select.ls-Dropdown {
                            background-color: transparent;
                            border: none;
                            font-family: var(--mainBody);
                            font-size: 1.2em;
                            width: 100%;
                        }
                    }
                    .worn {
                        display: inline-block;
                        .shifted {
                            margin: 5px 0 0 -3px;
                        }
                        .isCarried::before {
                            content: "";
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        input:checked+.isCarried::before {
                            background-image: url('https://raw.githubusercontent.com/finderski/Legend-Seeker/main/images/has_shield.png');
                        }

                        input:not(:checked)+.isCarried::before {
                            background-image: url('https://raw.githubusercontent.com/finderski/Legend-Seeker/main/images/no_shield.png');
                        }
                    }
                    .shield-config {
                        display: flex;
                        flex-flow: row wrap;
                        column-gap: 5px;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        .shieldDamageReduction,
                        .willDefense,
                        .fortDefense,
                        .shieldLevel {
                            width: 30%;
                            .textField {
                                width: 100%;
                                text-align: center;
                            }
                        }
                        .proficient {
                            display: flex;
                            flex-flow: row wrap;
                            flex-basis: 30%;
                            .ls-Dropdown {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
            .classResources {
                display: flex;
                flex-flow: column nowrap;
                row-gap: 5px;
                background-color: var(--light-gold);
                padding: 3px;
                /*margin-top: auto;*/
                border-radius: 0 8px;
                .resourceGroup {
                    display: flex;
                    flex-flow: row nowrap;
                    column-gap: 5px;
                    width: 100%;
                    margin: 3px 0;
                    .resourceName {
                        width: 55%;
                        flex: 2 0 auto;
                        font-size: 1em;
                        .textField {
                            font-size: 1em;
                        }
                    } 
                    & > span {
                        align-self: flex-end;
                    }
                    .resourceLeft,
                    .resourceRight {
                        width: 50%;
                        flex: 0 1 auto;
                        .textField {
                            width: 100%;
                            font-size: 1em;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .skillConfigSection {
            display: none;
        }
        .skillConfig[value="1"] + .skillConfigSection {
            display: flex;
            flex-flow: row nowrap;
            width: 68%;
            justify-content: end;
            column-gap: 5px;
        }
        .skills {
            width: 67%;
            display: flex;
            flex-flow: column;
            column-gap: 5px;
            row-gap: 5px;
            h2.headerLabel {
                font-family: var(--title);
            }
            .skill {
                display: flex;
                flex-flow: row nowrap;
                column-gap: 5px;
                width: 100%;
                .skillName {
                    width: 30%;
                    .chatButtons {
                        width: 100%;
                        &:hover .whisperButton {
                            left: 93%;
                        }
                        .whisperToChat {
                            height: 27px;
                        }
                        .whisperToChat > span {
                            font-family: 'Pictos';
                            position: relative;
                            top: -3px;
                        }
                        .labelButton.smaller {
                            font-size: .7em;
                        }
                    }
                    .trainedHidden[value="0"] + .chatButtons{
                        pointer-events: none;
                        opacity: 0.5;
                    }
                }
                .skillBonus,
                .halfLevel,
                .abilityMod,
                .trained,
                .skillFocus,
                .miscMod{
                    width: 8%;
                }
                .emptyEquals,
                .emptyAddition,
                .equals,
                .addition {
                    width: 5%;
                }
                .equals,
                .addition {
                    position: relative;
                }
                .equals::before {
                    content: '=';
                    position: absolute;
                    inset: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .addition::before {
                    content: '+';
                    position: absolute;
                    inset: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .equals,
                .addition {
                    font-family: 'Smooch';
                    font-size: 1.5em;
                    font-weight: bold;
                }
                .halfLevel,
                .abilityMod {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    align-self: center;
                    text-align: center;
                    .attributeInput.strength,
                    .attributeInput.dexterity,
                    .attributeInput.constitution,
                    .attributeInput.intelligence,
                    .attributeInput.wisdom,
                    .attributeInput.charisma {
                        display: none;
                    }
                    .showAttMod[value="@{strength}"] ~ .attributeInput.strength,
                    .showAttMod[value="@{dexterity}"] ~ .attributeInput.dexterity,
                    .showAttMod[value="@{constitution}"] ~ .attributeInput.constitution,
                    .showAttMod[value="@{intelligence}"] ~ .attributeInput.intelligence,
                    .showAttMod[value="@{wisdom}"] ~ .attributeInput.wisdom,
                    .showAttMod[value="@{charisma}"] ~ .attributeInput.charisma {
                        display: flex;
                    }
                    .config {
                        top: -23px;
                        left: -10px;
                    }
                }
                .trained,
                .skillFocus {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    text-align: center;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    > label {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        align-items: center;
                        align-self: center;
                        justify-content: center;
                        text-align: center;
                        top: 0;
                        margin: 0;
                        padding: 0;
                        cursor: pointer;
                        .trained,
                        .untrained {
                            display: none;
                        }
                        .hiddenInput {
                            /*opacity: 0;*/
                            display: none;
                            width: 0;
                            &:checked + .trained,
                            &:not(:checked) ~ .untrained {
                                display: flex;
                                width: 100%;
                                height: 100%;
                                font-size: 1.6em;
                                font-weight: 600;
                                font-family: var(--numbers);
                                border-bottom: 1px solid var(--ink);
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
                .attributeInput{
                    width: 100%;
                    text-align: center;
                }
                .icon {
                    width: 15px;
                }
                .headerLabel {
                    font-size: .65em;
                    line-height: 1.2em;
                    text-align: center;
                }
                .labelButton {
                    font-size: .75em;
                    width: 100%;
                }
                span.attributeInput.readOnly {
                    display: flex;
                    width: 100%;
                    height: 29px;
                    align-items: center;
                    justify-content: center;
                    align-self: center;
                    border-bottom: 1px solid var(--ink);
                    font-family: var(--numbers);
                    font-size: 1.4em;
                    font-weight: 600;
                }
            }
        }
    }
}