@use './mixins/sheet-scope' as *;

.frontPage .middleSection .twoByOne .firstCol .threeBythree {
    @include sheet-scope {
        grid-template-columns: [attributes] 50% [stamina] 25% [hit-points] 25%;
        grid-template-rows: [row-1 stamina hit-points] 45% [row-2 corruption] 22% [row-3 saves] 33%;
        .attributesSection {
            display: flex;
            flex-flow: row wrap;
            grid-column-start: attributes;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: row-3;
            background-color: yellowgreen;
        }
        .stamina {
            grid-column-start: stamina;
            grid-column-end: hit-points;
            grid-row-start: row-1;
            grid-row-end: row-2;
            background-color: lightblue;
        }
        .hitPoints {
            grid-column-start: hit-points;
            grid-row-start: row-1;
            grid-row-end: row-2;
            background-color: lightcoral;
        }
        .corruption {
            grid-column-start: stamina;
            grid-column-end: 4;
            grid-row-start: corruption;
            background-color: darkgray;
        }
        .defensiveSaves {
            grid-column-start: attributes;
            grid-column-end: 4;
            grid-row-start: saves;
            background-color: yellow;
        }
    }
}