@use './mixins/sheet-scope' as *;

.frontPage .middleSection .twoByOne .firstCol .threeBythree {
    @include sheet-scope {
        grid-template-columns: [attributes] 49.5% [stamina] 24.5% [hit-points] 24.5%;
        // grid-template-rows: [row-1 stamina hit-points] 45% [row-2 corruption] 22% [row-3 saves] 33%;
        grid-template-rows: [row-1 stamina hit-points] auto [row-2 corruption] auto [row-3 saves] auto;
        gap: 5px;
        .headerRow .headerLabel,
        .attribute-row .headerLabel,
        .attribute-row .attributeInput {
            text-align: center;
        }
        /* Moved to mainStyles.scss
        h3.headerLabel {
            font-family: 'Cinzel', serif;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            margin: 0;
            width: 100%;
        }
        */
        .headerRow {
            padding: 0 0 15px 0;
        }
        .attributesSection {
            display: flex;
            flex-flow: row wrap;
            grid-column-start: attributes;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: row-3;
            row-gap: 10px;
            .headerRow,
            .attribute-row {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                column-gap: 5px;
            }
            .attribute-row .attributeInput,
            .attribute-row .labelButton {
                width: 100%;
                .allcaps {
                    font-family: 'Eagle Lake';
                    text-transform: uppercase;
                }
                .smallcaps {
                    font-family: 'Cinzel';
                    text-transform: lowercase;
                    font-size: .75em;
                }
            }
            .attribute-row .attributeInput {
                text-align: center;
            }
            .attribute-field {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .score-field {
                width: 23%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .modifier-field {
                width: 23%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .defensiveSaves {
            grid-column-start: attributes;
            grid-column-end: 4;
            grid-row-start: saves;
        }
    }
}