@use './mixins/sheet-scope' as *;

.npcView {
    @include sheet-scope {
        .npcViewHeader {
            display: flex;
            background-color: var(--ink);
            padding: 20px;
            gap: 20px;
            width: 100%;
            margin: 0;
            .logo {
                display: inline-block;
                width: 20%;
                margin: 0 -5px 0 0;
            }
            .npcMainFields {
                display: flex;
                flex-flow: row wrap;
                column-gap: 20px;
                width: 85%;
                .npcHeader.npcName.text-field {
                    display: inline-block;
                    color: var(--parchment);
                    flex-basis: 80%;
                }
                .challengeLevel {
                    display: inline-block;
                    color: var(--parchment);
                    align-self: center;
                    span.npcHeader {
                        color: var(--parchment);
                        margin-right: auto;
                        align-self: center;
                    }
                }
                .type,
                .size {
                    display: inline-block;
                    color: var(--light-gold);
                    select.ls-Dropdown {
                        border-bottom: 1px solid var(--gold);
                        align-self: flex-end;
                        margin: 0;
                        font-size: 2rem;
                        font-style: italic;
                        color: var(--light-gold);
                    }
                }
            }
            
        }
        .middleSection {
            display: flex;
            flex-flow: row wrap;
            gap: 20px;
            width: 100%;
            padding: 0;
            margin: 20px 0 0 0;
            .attributesEtc {
                display: flex;
                flex-flow: row wrap;
                flex: 1 1 73%;
                gap: 20px;
                align-content: flex-start;
                .staminaHpCorruption {
                    display: flex;
                    flex-flow: row wrap;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .npcSkills {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            width: 100%;
            position: relative;
            h3.headerLabel {
                display: inline-block;
                width: max-content;
            }
            .config {
                top: -20px;
                left: -15px;
            }
            .configSkills {
                display: none;
            }
            .showConfig[value="1"] + .configSkills {
                display: flex;
                flex-flow: column wrap;
                gap: 10px;
                position: absolute;
                top: 25px;
                background-color: var(--parchment);
                color: var(--ink);
                width: 100%;
                z-index: 99;
                height: 190px;
                padding: 10px;
                border: 2px solid var(--gold);
                label.npcSkillsConfigLabel {
                    width: max-content;
                    cursor: pointer;
                }
            }
            .skillButtons {
                display: flex;
                flex-flow: row wrap;
                row-gap: 5px;
                font-size: .8em;
                .skillName {
                    display: none;
                }
                .showSkill[value="1"] + .skillName {
                    display: flex;
                    .chatButtons:hover .whisperButton {
                        top: -25px;
                        left: 0;
                    }
                }
            }
        }
    }
}