.sheet-rolltemplate-roll {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    padding: 0;
    margin: 0;
    border-radius: 16px 0 16px 0;
    border: 1px solid #2B2418;
    background-color: #F3E6C9;
    font-synthesis: unset !important;
    .sheet-rolltemplate-header {
        display: inline;
        padding: 10px;
        background-color: #2B2418;
        border-radius: 16px 0 0 0;
        h1 {
            font-family: 'Cinzel';
            font-size: 1.5em;
            color: #F3E6C9;
        }
        h2 {
            font-family: 'Eagle Lake';
            font-size: 1.4em;
            font-weight: bold;
            color: #F3E6C9;
        }
    }
    .sheet-rolltemplate-header.sheet-damage-header {
        background-color: #7F1216;
        h1,
        h2 {
            color: #E3D2A6;
        }
    }
    .sheet-rolltemplate-header.sheet-spell-header {
        background-color: #2F5496;
        h1,
        h2 {
            color: #F8FAFC;
        }
    }
    .sheet-rolltemplate-body {
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
        gap: 15px;
        box-sizing: border-box;
        font-family: 'Merriweather';
        .sheet-roll-info {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            justify-content: space-evenly;
        }
        .sheet-left-column {
            width: 55%;
            min-width: 55%;
            max-width: 55%;
            text-align: left;
            font-size: 1.15em;
            font-weight: 900;
            font-synthesis: unset !important;
        }
        .sheet-left-column-full {
            width: 100%;
            text-align: left;
            font-size: 1.15em;
            font-weight: 900;
            font-synthesis: unset !important;
        }
        .sheet-right-column {
            width: 30%;
            min-width: 30%;
            max-width: 30%;
            text-align: right;
            font-size: 1.15em;
            font-weight: 900;
            font-synthesis: unset !important;
            .sheet-extremeRoll {
                font-family: 'Noto Emoji';
                font-size: 1.2em;
            }
            .sheet-extremeRoll.sheet-crit {
                color: #005700;
            }
            .sheet-extremeRoll.sheet-fumble {
                color: #7F1216;
            }
        }
        .sheet-one-column {
            width: 100%;
            text-align: center;
            .sheet-crit {
                color: #005700;
            }
            .sheet-fumble {
                color: #7F1216;
            }
            > a[href^="~"] {
                background-color: #2b2418;
                color: #f3e6c9;
                padding: 10px 15px;
                border-radius: 8px;
                border: none;
                &:focus, &:hover {
                    text-decoration: unset;
                }
            }
        }
        .sheet-result {
            font-family: 'Eagle Lake';
            font-size: 1.2em;
            font-weight: 700;
            font-size: 2em;
            margin: 0 0 15px 0;
            &.sheet-raises {
                font-family: 'Merriweather';
            }
        }
        .sheet-button,
        .sheet-secondwind {
            margin: 15px 0 0 0;
            padding: 5px 10px;
            font-size: 1.5em;
            font-family: 'Merriweather';
            font-weight: 900;
            line-height: 1.2;
        }
    }
    .inlinerollresult,
    .inlinerollresult.fullcrit,
    .inlinerollresult.fullfail {
        background-color: transparent;
        border: none !important;
        font-size: 1.6em;
        font-weight: bold;
        padding: 0;
        font-family: 'Cormorant Garamond';
        font-synthesis: unset !important;
    }
    .inlinerollresult.fullcrit {
        color: #005700;
    }
    .inlinerollresult.fullfail {
        color: #7F1216;
    }
}
