@use './mixins/sheet-scope' as *;

.backPage .combat {
    @include sheet-scope {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 10px;
        width: 100%;
        .spells {
            display: flex;
            flex-flow: column;
            row-gap: 5px;
            margin: 0 0 20px 0;
            flex: 1 1 25%;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
            .repcontainer[data-groupname="repeating_spells"] {
                width: 100%;
                display: inline-flex;
                flex-flow: column nowrap;
                row-gap: 5px;
                .repitem {
                    display: flex;
                    flex-flow: column;
                    row-gap: 5px;
                    border: .5px dotted var(--ink);
                    padding: 5px;
                    .spellContainer {
                        display: flex;
                        flex-flow: row wrap;
                        margin: 5px 0;
                        font-size: .85em !important;
                        width: 100%;
                        column-gap: 5px;
                        row-gap: 10px;
                        font-size: 1.2em;
                        .button {
                            .labelButton.sendToChat {
                                margin: 0;
                                width: 48px;
                            }
                        }
                        .spell {
                            width: 50%;
                            .textField {
                                width: 100%;
                                font-size: 1.2em;
                            }
                        }
                        .slots {
                            width: 30%;
                            display: flex;
                            flex-flow: row wrap;
                            .spellSlots {
                                width: 47%;
                                text-align: center;
                            }
                            .slotDivider {
                                align-self: center;
                            }
                        }
                        .school {
                            width: 40%;
                            .ls-Dropdown {
                                width: 100%;
                                background-color: transparent;
                                border: none;
                                font-family: var(--mainBody);
                                font-size: 1.15em;
                            }
                            .spellSchoolDropdown {
                                color: #2F5496;
                                font-size: 1.45em;
                                font-family: var(--mainBody);
                                font-style: italic;
                                font-weight: 900;
                            }
                        }
                        .tier {
                            width: 56%;
                            .spellTier {
                                width: 100%;
                            }
                        }
                        .config {
                            left: -5%;
                        }
                        .spell-config {
                            width: 100%;
                            display: flex;
                            flex-flow: row wrap;
                            column-gap: 5px;
                            padding: 3px 0 5px 0;
                            .castingTime,
                            .range,
                            .duration,
                            .components {
                                width: 48%;
                                .textField {
                                    width: 100%;
                                    font-size: 1.2em;
                                }
                            }
                            .description {
                                width: 100%;
                            }
                            .dcs {
                                width: 100%;
                                .row {
                                    display: flex;
                                    flex-flow: row wrap;
                                    column-gap: 5px;
                                    row-gap: 3px;
                                    width: 100%;
                                    margin: 0;
                                    .dcColumn {
                                        flex: 0 1 10%;
                                        h3 {
                                            text-align: left;
                                        }
                                        .textField {
                                            width: 100%;
                                        }
                                    }
                                    .damageColumn {
                                        flex: 2 1 25%;
                                        .textField {
                                            width: 100%;
                                            text-align: center;
                                        }
                                    }
                                    .effect {
                                        width: 100%;
                                        .spellArea {
                                            height: 2rem;
                                            min-height: fit-content;
                                            max-height: 6rem;
                                        }
                                    }
                                    .special {
                                        width: 100%;
                                        .spellArea {
                                            height: 2rem;
                                            min-height: fit-content;
                                            max-height: 6rem;
                                        }
                                    }
                                }
                            }
                        }
                        .spellArea {
                            width: 100%;
                            font-size: 1.15em;
                            resize: vertical;
                            background-color: transparent;
                            color: var(--ink);
                            border: none;
                            max-height: 150px;
                            height: 6rem;
                            min-height: 3rem;
                        }
                    }
                }
            }
        }
        .weapons {
            display: flex;
            flex-flow: row wrap;
            column-gap: 5px;
            row-gap: 5px;          
            flex-grow: 1;
            flex-basis: 50%;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
            h2.headerLabel {
                width: 100%;

            }
            .repcontainer[data-groupname="repeating_weapons"] {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                column-gap: 5px;
                row-gap: 5px;          
                flex-grow: 2;
                .repitem {
                    display: flex;
                    flex-flow: row wrap;
                    column-gap: 5px;
                    row-gap: 5px; 
                    flex: 1 1 clamp(30%, 30%, 50%);
                    max-width: 50%;
                    .weaponContainer {
                        border: .5px dotted var(--ink);
                        display: flex;
                        flex-flow: row wrap;
                        column-gap: 5px;
                        row-gap: 5px;
                        padding: 5px;
                        width: 100%;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        /*
                        .hiddenInput {
                            display: none;
                        }
                        */  
                        .button {
                            width: 70px;
                            flex: 0 0 auto;
                            .chatButtons .sendToChat {
                                margin: 0;
                            }
                            .chatButtons .whisperButton {
                                :hover {
                                    background-color: var(--ink);
                                    color: var(--parchment);
                                }
                                .iconButton {
                                    font-family: Pictos;
                                    font-size: 1.2em;
                                }
                            }
                        }
                        .weapon {
                            width: 65%;
                            flex: 1 1 auto;
                            min-width: 0;
                        }
                        .type {
                            width: 33%;
                        }
                        .damage {
                            width: 28%;
                        }
                        /* Hiding - maybe temporarily
                        .config {
                            display: flex;
                            width: 0;
                            font-family: 'Pictos';
                            font-size: .85em;
                            color: var(--ink);
                            align-self: flex-start;
                            position: relative;
                            left: -10%;
                            cursor: pointer;
                            opacity: 0.5;
                            &:hover {
                                opacity: 1;
                            }
                            > .cog > .hiddenInput:checked + .configIcon {
                                opacity: 1;
                            }
                        }
                        */
                        .attributeMod {
                            min-width: 25%;
                            max-width: 30%;
                            flex: 1 1 30%;
                            .weaponTypeDropdown {
                                font-size: .9em;
                                width: 100%;
                            }
                        }
                        .damage-config {
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            column-gap: 5px;
                            padding: 3px 0 5px 0;
                            background-color: var(--light-gold);
                            border-radius: 5px 0 5px 0;
                            .dice {
                                min-width: 20%;
                                max-width: 25%;
                                flex: 1 1 20%;
                            }
                            .halfLevel {
                                max-width: 20%;
                                min-width: 15%;
                                flex: 1 1 20%;
                            }
                            .miscMod {
                                min-width: 20%;
                                max-width: 25%;
                                flex: 1 1 20%;
                                .fieldLabelAbove {
                                    white-space: nowrap;
                                    overflow: visible;
                                    margin-left: -3px;
                                }
                            }
                            .addition {
                                max-width: 8%;
                            }
                        }
                        .crit {
                            width: 29%;
                        }

                        .atk {
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            column-gap: 5px;
                            .atkField {
                                min-width: 15%;
                                max-width: 20%;
                                flex: 1 1 20%;
                            }
                            .equals,
                            .addition {
                                max-width: 8%;
                                flex: 0 0 auto;
                            }
                            .atkFormula{
                                min-width: 8%;
                                max-width: 8%;
                                flex: 0 0 auto;
                            }
                            .hpb {
                                width: 15%;
                                min-width: 15%;
                                max-width: 20%;
                                flex: 1 1 auto;
                            }
                            .atkFormula {
                                font-family: var(--title);
                                font-size: .85em;
                                text-align: center;
                                align-self: center;
                            }
                        }
                        .notes {
                            width: 100%;
                        }
                        .textField,
                        .weaponTypeDropdown {
                            width: 100%;
                            text-align: center;
                            font-size: 1.2em;
                            line-height: 1.2em;
                        }
                        .weaponTypeDropdown,
                        .weaponNotes {
                            background-color: transparent;
                            border: none;
                            font-family: var(--mainBody);
                            font-size: 1.15em;
                        }
                        .weaponNotes {
                            resize: vertical;
                            color: var(--ink);
                            border: none;
                            max-height: 150px;
                            height: 6rem;
                            min-height: 3rem;
                        }
                        .damage .textField,
                        .crit .textField {
                            text-align: center;
                        }
                        .fieldLabelAbove {
                            font-size: .75em;
                            line-height: 1.2;
                            width: 100%;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        .hiddenInput {
            display: none;
        }
        .config {
            display: flex;
            width: 0;
            font-family: 'Pictos';
            font-size: .85em;
            color: var(--ink);
            align-self: flex-start;
            position: relative;
            left: -10%;
            cursor: pointer;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            > .cog > .hiddenInput:checked + .configIcon {
                opacity: 1;
            }
        }
    }
}