@use './mixins/sheet-scope' as *;

.selectedTab[value="1"] ~ .frontPage,
.selectedTab[value="2"] ~ .backPage,
.selectedTab[value="3"] ~ .sheetSettings,
.selectedTab[value="4"] ~ .npcView {
    @include sheet-scope {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 840px;
        padding: 0;
        margin: 0;
    }
}
.frontPage,
.backPage,
.sheetSettings,
.concise,
.npcView {
     @include sheet-scope {
        display: none;
     }
}