@use './mixins/sheet-scope' as *;

.frontPage,
.backPage,
.settings {
    display: none;
}

.selectedTab[value="1"] ~ .frontPage,
.selectedTab[value="2"] ~ .backPage,
.selectedTab[value="3"] ~ .settings {
    @include sheet-scope {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 840px;
        padding: 0;
        margin: 0;
    }
}