// Styles are found in _middleSection-attributes.scss
.headerRow 
    .attribute-field
        label(class="headerLabel", data-i18n='core-attributes') Core Attributes
    .score-field
        label(class="headerLabel", data-i18n='score') Score
    .modifier-field
        label(class="headerLabel", data-i18n='modifier') Modifier
input(type="hidden", name="attr_capped_dex_mod", value="1000")
-
    const attributeList = [['STR', 'strength'], ['DEX', 'dexterity'], ['CON', 'constitution'],['INT', 'intelligence'],  ['WIS', 'wisdom'], ['CHA', 'charisma']];
each attribute in attributeList
    +attribute(attribute)
