//
    1 = Character
    2 = Resources
    3 = Settings
button(class='topButton characterSheet' type='action', name="act_frontsheet_1" data-i18n-title='character') Character
button(class='topButton resourcesSheet' type='action', name="act_backsheet_2" data-i18n-title='resources') Resources
button(class='topButton settingsSheet' type='action', name="act_settings_3" data-i18n-title='settings') Settings