// stying found in _equipmentAndSkills.scss
.classResources
    h3(class='headerLabel left', data-i18n='class-resources') Class Resources
    fieldset(class="repeating_class-resources")
        .resourceGroup
            .resourceName 
                label(class="fieldLabelAbove", data-i18n='resource-name') Resource Name
                input(class="textField", type="text", name="attr_resource_name", value="", data-i18n-placeholder="resource-name")
            .resourceLeft 
                input(class="textField", type="text", name="attr_resource_current", value="", placeholder="1")
            span / 
            .resourceRight
                input(class="textField", type="text", name="attr_resource_max", value="", placeholder="1")
