// stying found in _equipmentAndSkills.scss
hr.sectionDivider
.classResources
    h3(class='headerLabel left', data-i18n='class-resources') Class Resources
    fieldset(class="repeating_class-resources")
        .resourceGroup
            .resourceLeft 
                input(class="textField", type="text", name="attr_resource_left", value="", data-i18n-placeholder="class-resource")
            span / 
            .resourceRight
                input(class="textField", type="text", name="attr_resource_right", value="", data-i18n-placeholder="class-resource")
