.colors 
    .color1 --parchment
    .color2 --ink
    .color3 --gold
    .color4 --light-gold
    .color5 --read-only
    .color6 --dragon-wing
    .color7 --condition
    .color8 --light-condition
    .color9 --cream
    .color10 --magic
    .color11 --critical