label.condition 
    .normal(data-i18n="normal") Normal 
    .conditionSelector 
        input(class="conditionRadio", type="radio", name="condition", value="0 [[Normal]]", checked)
label.condition 
    .penalty —1
    .description
        p(data-i18n="condition-1-2") To all defenses, attacks, skill & ability checks.
    .conditionSelector 
        input(class="conditionRadio", type="radio", name="condition", value="-1 [[Condition: -1]]")
label.condition 
    .penalty —2
    .description
        p(data-i18n="condition-1-2") To all defenses, attacks, skill & ability checks.
    .conditionSelector 
        input(class="conditionRadio", type="radio", name="condition", value="-2 [[Condition: -2]]")
label.condition 
    .penalty —6
    .description
        p(data-i18n="condition-6-10") To all defenses, attacks, skill & ability checks. Move at half speed.
    .conditionSelector 
        input(class="conditionRadio", type="radio", name="condition", value="-6 [[Condition: -6]]")
label.condition 
    .penalty —10
    .description
        p(data-i18n="condition-6-10") To all defenses, attacks, skill & ability checks. Move at half speed.
    .conditionSelector 
        input(class="conditionRadio", type="radio", name="condition", value="-10 [[Condition: -10]]")
label.condition
    .out(data-i18n="unconscious-or-deceased") Unconscious or Deceased 
    .conditionSelector 
        input(class="conditionRadio", type="radio", name="condition", value="0 [[Unconscious or Deceased]]")
.momentum 
    h3.headerLabel Momentum
    input(class="momentumInput", type="number", name="momentum")
    span /
    input(class="momentumInput", type="number", name="momentum_max")