h3(class="headerLabel", data-i18n='hit-points') Hit Points
.fieldLabel
    p(data-i18n='total') Total 
input(type='text', name='attr_hitpoints_total', placeholder="0")
.fieldLabel
    p(data-i18n='current') Current
input(type='text', name='attr_hitpoints_current', placeholder="0")