// Styling for hit points, speed, initiative, heroic proficiency bonus, and legendary points are in _middleSection-stamina.scss. 
h3(class="headerLabel", data-i18n='hit-points') Hit Points
.fieldLabel
    label(data-i18n='total') Total 
input(class="xPointInput", type='text', name='attr_hitpoints_max', placeholder="0")
.fieldLabel
    label(data-i18n='current') Current
input(class="xPointInput", type='text', name='attr_hitpoints', placeholder="0")
.speed
    label(class="fieldLabelAbove", data-i18n='speed') Speed
    input(class="xPointInput", type='text', name='attr_speed', placeholder="0")
.initiative
    button(class="textButton", type="roll", name="roll_initiative", value=`@{initiative_formula}`)
        label(class="fieldLabelAbove", data-i18n='initiative') Initiative
        input(class="xPointInput", type='text', name='attr_initiative_bonus', placeholder="0")
.hpb.readOnly
    label(class="fieldLabelAbove", data-i18n='heroic-proficiency-bonus') Heroic Proficiency Bonus
    input(class="xPointInput", type='text', name='attr_heroic_proficiency_bonus', value="2" readonly)
.legendaryPoints 
    button(class="textButton", type="action", name="act_use-legendary-points")
        label(class="fieldLabelAbove", data-i18n='legendary-points') Legendary Points
    input(class="xPointInput", type='text', name='attr_legendary_points', placeholder="0")
.numberOfActions 
    label(class="fieldLabelAbove", data-i18n='number-of-actions') Number of Actions
    input(class="actionCounter", type='hidden', name='attr_multi-action-penalty', value="0")
    label(class="selectorLabel")
        input(class="actionCount", type='radio', name='attr_multi-action-penalty', value="0" checked)
        span(class='one-action') I 
    label(class="selectorLabel")
        input(class="actionCount", type='radio', name='attr_multi-action-penalty', value="-4")
        span(class='two-actions') II
    label(class="selectorLabel")
        input(class="actionCount", type='radio', name='attr_multi-action-penalty', value="-8")
        span(class='three-actions') III