// styling found in _middleSection-saves.scss
.saveRow 
    .saveButton
        h3(class="headerLabel", data-i18n='defensive-scores') Defensive Scores
    .saveTotal
        label(class="headerLabel", data-i18n='total') Total
    .saveCalc
        | &nbsp;
    .saveLvlOrArmor 
        label(class="headerLabel", data-i18n='level-or-armor') Level/Armor
    .saveClassBonus 
        label(class="headerLabel", data-i18n='class-bonus') Class Bonus
    .saveAbilityMod 
        label(class="headerLabel", data-i18n='ability-mod') Ability Modifier
    .saveMisc
        label(class="headerLabel", data-i18n='miscellaneous-abbr') Misc
-
    const saveList = [['FORT', 'fortitude', 'constitution'], ['REF', 'reflex', 'dexterity'], ['WILL', 'willpower', 'wisdom']];
each save in saveList
    +savingthrow(save)
