.settingRow
    label(class="settingLabel")
        input(class="checkboxInput", type="checkbox", name="attr_mana-tap_hider" value="1")
        span(class="styledCheckbox")
        span(class="styledCheckboxText", data-i18n="show-spells-on-sheet") Show Spell Slots on Sheet
    