.settingCol
    label(class="settingLabel")
        input(class="checkboxInput", type="checkbox", name="attr_mana-tap_hider" value="1")
        span(class="styledCheckbox")
        span(class="styledCheckboxText", data-i18n="show-spells-on-sheet") Show Spell Slots on Sheet
    label(class="settingLabel")
        input(class="checkboxInput", type="checkbox", name="attr_true-legend" value="1")
        span(class="styledCheckbox")
        span(class="styledCheckboxText", data-i18n="true-legend") True Legend
    
.footer 
    p(class='credit', data-i18n='armor-credit') 