// Necessary Mixins
include ./mixins/_mixin_attributes.pug 
include ./mixins/_mixin_corruption.pug
include ./mixins/_mixin_buildSaves.pug
include ./mixins/_mixin_skills.pug

.maindiv
    //h1(class='sheetTitle', data-i18n='character-score-sheet') Character Score Sheet
    // Hidden inputs for character sheet functionality
    input(type='hidden', class='selectedTab', name='attr_sheetTab', value="1")
    .buttonbar 
        // Buttons to control the sheet display
        include _buttonbar.pug
    .frontPage
        h1(class='sheetTitle', data-i18n='character-score-sheet') Character Score Sheet
        .topSection
            .demographics 
                // Character Sheet (including NPC sheet)
                include _demographics.pug
            .logo 
                // Logo Section
                img(src='https://raw.githubusercontent.com/finderski/Legend-Seeker/main/images/lengend-seeker-logo.png', alt='Legend Seeker Logo')
        hr.sectionDivider
        .middleSection 
            .twoByOne 
                .firstCol
                    .threeBythree
                        .attributesSection
                            // Attributes Section
                            include _attributes.pug
                        .stamina 
                            // Staminia Section
                            include _stamina.pug
                        .hitPoints 
                            // Hit Point Section
                            include _hitPoints.pug
                        .corruption
                            // Corruption Section
                            include _corruption.pug
                        .defensiveSaves
                            //Defensive Saves Section
                            include _saves.pug
                .secondCol
                    h3.headerLabel CONDITIONS
                    // Conditions Section
                    include _conditions.pug
                    include _languages.pug
        hr.sectionDivider
        .bottomSection
            .talents 
                // Talents Section
                include _talents.pug
            .edges 
                // Edges Section
                include _edges.pug
            .traits 
                //Special Traits Section
                include _specialTraits.pug
    .backPage
        h1.headerLabel Resources Placeholder
    .settings
        h1.headerLabel Settings Placeholder

