// stying found in _equipmentAndSkills.scss
h2.headerLabel(data-i18n='skills') Skills
.skill
    .skillName &nbsp;
    .skillBonus 
        label(class="headerLabel", data-i18n='skill-bonus') Skill Bonus
    .emptyEquals &nbsp;
    .halfLevel 
        label(class="headerLabel", data-i18n='half-level') Half Level
    .emptyAddition 
    .abilityMod 
        label(class="headerLabel", data-i18n='ability-modifier-abbr') Ability Mod
    .emptyAddition 
    .trained 
        label(class="headerLabel", data-i18n='trained') Trained
    .emptyAddition 
    .skillFocus 
        label(class="headerLabel", data-i18n='skill-focus') Skill Focus
    .emptyAddition 
    .miscMod 
        label(class="headerLabel", data-i18n='miscellaneous-modifier-abbr') Misc Mod

-
    // list of skills with associated attribute ['skill name', 'attribute', 'training:na|some|trained', 'armorCheck:yes|no']
    const skillList = [['acrobatics','dexterity','some','yes'],['climb', 'strength','na','yes'],['craft', 'wisdom','na','no'],['deception', 'charisma','some','no'],  ['endurance', 'constitution','na','yes'],['gather-information','charisma','na','no'],['initiative','dexterity','na','yes'],['invoke-arcana','intelligence','trained','no'],['jump','strength','na','yes'],['lore-arcana','intelligence','na','no'],['lore-architecture','intelligence','na','no'],['lore-dungeoneering','intelligence','na','no'],['lore-geography','intelligence','na','no'],['lore-history','intelligence','na','no'],['lore-keepers','intelligence','na','no'],['lore-nature','intelligence','na','no'],['lore-nobility','intelligence','na','no'],['lore-planes','intelligence','na','no'],['lore-religion','intelligence','na','no'],['lore-streetwise','intelligence','na','no'],['notice','wisdom','na','yes'],['persuasion','charisma','na','no'],['ride','dexterity','na','yes'],['sense-motive','wisdom','na','no'],['stealth','dexterity','na','yes'],['survival','wisdom','na','no'],['swim','strength','na','yes'],['tinkering','intelligence','trained','yes'],['treat-wounds','wisdom','some','no'],['mana-tap','charisma','some','no']];
each skill in skillList
    +skills(skill)
