// Styles are in _spellsAndWeapons.scss
h2.headerLabel(data-i18n='spells') Spells
fieldset(class='repeating_spells')
    .spellContainer
        .button 
            .chatButtons
                button(class="labelButton sendToChat", type="action" name="act_spellcast", data-18n-title="send-to-chat")
                    span(class="allcaps" data-i18n='cast') Cast
                .whisperButton 
                    button(class="whisperToChat", type="action" name="act_whisper_spellcast", data-i18n-title="whisper-to-chat")
                        span.iconButton w
            // Action Buttons for Custom Roll Parsing
            button(class="hidden" type='action' name='act_spelldamage')
            button(class="hidden" type='action' name='act_spellaltdamage')
            button(class="hidden" type='action' name='act_whisper_spelldamage')
            button(class="hidden" type='action' name='act_whisper_spellaltdamage')
            input(type='hidden', name='attr_spell-action-call', value='&{template:roll} {{spellcast=roll}} {{name=@{character_name}}} {{title=@{spell}}} {{school=^{@{spell-school}}}} {{tier=@{spell-tier}}} {{castingtime=@{spell-casting-time}}} {{range=@{spell-range}}} {{duration=@{spell-duration}}} {{roll=[[1d20cs20cf1 + @{mana-tap_bonus}[^{mana-tap}] + @{condition} + @{multi-action-penalty}[^{multi-action-penalty}] + ?{Additional Modifiers|0}[Modifier]]]}} {{success=[[0]]}} {{resolveddc=[[0]]}} {{legendary-point=?{Spend a Legendary Point|No,[[0]]|Yes,[[1]]}}} {{effect1=@{spell-effect}}} {{effect2=@{spell-effect2}}} {{effect3=@{spell-effect3}}} {{special=@{spell-special}}} {{dc1=[[@{spell-dc1}]]}} {{dc2=[[@{spell-dc2}]]}} {{dc3=[[@{spell-dc3}]]}} ')
            input(type='hidden', name='attr_spell-cast-history', value='[]')
            input(type='hidden', name='attr_spell-last-cast-rollid', value='')
        .spell
            label(class="fieldLabelAbove", data-i18n='spell-name') Spell Memory
            input(class='textField spellName', type='text', name='attr_spell', value='', data-i18n-placeholder='spell-name')
        .slots 
            label(class="fieldLabelAbove", data-i18n='spell-memory') Slots
            input(class='textField spellSlots', type='text', name='attr_spell-slot', value='', placeholder='1')
            span(class='slotDivider') /
            input(class='textField spellSlots', type='text', name='attr_spell-slot_max', value='', placeholder='1')
        .school 
            label(class="fieldLabelAbove", data-i18n='school') School
            select(class="ls-Dropdown spellSchoolDropdown", name='attr_spell-school')
                option(value='abjuration', data-i18n='abjuration') Abjuration
                option(value='conjuration', data-i18n='conjuration') Conjuration
                option(value='divination', data-i18n='divination') Divination
                option(value='enchantment', data-i18n='enchantment') Enchantment
                option(value='evocation', data-i18n='evocation') Evocation
                option(value='illusion', data-i18n='illusion') Illusion
                option(value='necromancy', data-i18n='necromancy') Necromancy
                option(value='transmutation', data-i18n='transmutation') Transmutation
        .copies 
            label(class="fieldLabelAbove", data-i18n='number-of-copies-abbr') # of Copies
            input(class='textField spellTier', type='text', name='attr_spell-copies', value='1')
        .tier 
            label(class="fieldLabelAbove", data-i18n='tier') Tier
            input(class='textField spellTier', type='text', name='attr_spell-tier', value='', data-i18n-placeholder='cantrip')
        .config 
            label.cog
                input(class='hiddenInput', type='checkbox', name='attr_spell_config_toggle')
                span.configIcon y
        input(class='hideSection', type='hidden', name='attr_spell_config_toggle', value='0')
        .spell-config
            .castingTime 
                label(class="fieldLabelAbove", data-i18n='casting-time') Casting Time
                input(class='textField spellCastingTime', type='text', name='attr_spell-casting-time', value='', data-i18n-placeholder='casting-time')
            .range 
                label(class="fieldLabelAbove", data-i18n='range') Range
                input(class='textField spellRange', type='text', name='attr_spell-range', value='', data-i18n-placeholder='range')
            .components 
                label(class="fieldLabelAbove", data-i18n='components') Components
                input(class='textField spellComponents', type='text', name='attr_spell-components', value='', data-i18n-placeholder='components')
            .duration 
                label(class="fieldLabelAbove", data-i18n='duration') Duration
                input(class='textField spellDuration', type='text', name='attr_spell-duration', value='', data-i18n-placeholder='duration')
            .description 
                label(class="fieldLabelAbove", data-i18n='description') Description
                textarea(class='spellArea spellDescription', name='attr_spell-description', data-i18n-placeholder='description')
            .dcs 
                .row.header
                    .dcColumn 
                        h3.headerLabel(data-i18n='difficulty-class-abbr') DC 
                    .damageColumn 
                        h3.headerLabel(data-i18n='damage') Damage
                    .damageColumn 
                        h3.headerLabel(data-i18n='failure-damage-abbr') Failure Damage
                    .damageColumn 
                        h3.headerLabel(data-i18n='special-damage-abbr') Special Dmg
                .row 
                    .dcColumn 
                        input(class='textField spellDC1', type='text', name='attr_spell-dc1', value='10')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc1-damage', value='')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc1-alt-damage', value='')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc1-special-damage', value='')
                        label(class="fieldLabelAbove")
                            input(class='checkboxInput', type='checkbox', name='attr_dc1-special-replace', value='1')
                            span(class='styledCheckbox')
                            span(class='styledCheckboxText replace', data-i18n='replace') Replace
                            span(class='styledCheckboxText add', data-i18n='add') Add
                    .effect 
                        label(class="fieldLabelAbove", data-i18n='effect') Effect
                        textarea(class='spellArea spellEffect', name='attr_spell-effect', data-i18n-placeholder='effect')
                .row 
                    .dcColumn 
                        input(class='textField spellDC2', type='text', name='attr_spell-dc2', value='15')
                    .damageColumn
                        input(class='textField spellCritDamage', type='text', name='attr_dc2-damage', value='')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc2-alt-damage', value='')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc2-special-damage', value='')
                        label(class="fieldLabelAbove")
                            input(class='checkboxInput', type='checkbox', name='attr_dc2-special-replace', value='1')
                            span(class='styledCheckbox')
                            span(class='styledCheckboxText replace', data-i18n='replace') Replace
                            span(class='styledCheckboxText add', data-i18n='add') Add
                    .effect 
                        label(class="fieldLabelAbove", data-i18n='effect') Effect
                        textarea(class='spellArea spellEffect', name='attr_spell-effect2', data-i18n-placeholder='effect')
                .row 
                    .dcColumn 
                        input(class='textField spellDC3', type='text', name='attr_spell-dc3', value='20')
                    .damageColumn
                        input(class='textField spellCritDamage', type='text', name='attr_dc3-damage', value='')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc3-alt-damage', value='')
                    .damageColumn
                        input(class='textField spellDamage', type='text', name='attr_dc3-special-damage', value='')
                        label(class="fieldLabelAbove")
                            input(class='checkboxInput', type='checkbox', name='attr_dc3-special-replace', value='1')
                            span(class='styledCheckbox')
                            span(class='styledCheckboxText replace', data-i18n='replace') Replace
                            span(class='styledCheckboxText add', data-i18n='add') Add
                    .effect 
                        label(class="fieldLabelAbove", data-i18n='effect') Effect
                        textarea(class='spellArea spellEffect', name='attr_spell-effect3', data-i18n-placeholder='effect')
                .row 
                    .special 
                        label(class="fieldLabelAbove", data-i18n='special') Special
                        textarea(class='spellArea spellSpecial', name='attr_spell-special', data-i18n-placeholder='special')
            
