h3(class='headerLabel', data-i18n='special-traits') SPECIAL TRAITS
fieldset(class="repeating_special-traits")
    .specialTrait
        .chatButtons
            button(class="sendToChat", type="roll" name="roll_special_trait_to_chat", value="/em has the : @{special_trait_name} (@{special_trait_page}), which does @{special_trait_details}", data-18n-title="send-to-chat")
                span.iconButton q 
            .whisperButton 
                button(class="whisperToChat", type="roll" name="roll_whisper_special_trait", value="/w gm @{character_name} has the special_trait: @{special_trait_name}, which does @{special_trait_details}", data-i18n-title="whisper-to-chat")
                    span.iconButton w
        .specialTraitName 
            label(class="fieldLabelAbove", data-i18n='special-trait') Misc Bonus
            input(class="textField", type="text", name="attr_special_trait_name", value="", data-i18n-placeholder="special-trait")
        .pageNumber 
            label(class="fieldLabelAbove", data-i18n='page-number-abbr') Pg. #
            input(class="textField", type="text", name="attr_special_trait_page", value="")
        textarea(class="detailsInput", name="attr_special_trait_details", data-i18n-placeholder="special-trait-details")