// Styles are in _spellsAndWeapons.scss
h2.headerLabel(data-i18n='spells') Spells
fieldset(class='repeating_spells')
    .spellRow
        input(class='textField spellName', type='text', name='attr_spell_name', value='', data-i18n-placeholder='spell-name')