// Styles found _middleSection-stamina.scss
h3(class="headerLabel", data-i18n='stamina-points') Stamina Points
.fieldLabel 
    label(data-i18n='temporarary-abbr') Temp
input(class="xPointInput", type='text', name='attr_stamina_temp', placeholder="0")
.fieldLabel
    label(data-i18n='total') Total 
input(class="xPointInput", type='text', name='attr_stamina_max', placeholder="0")
.fieldLabel
    label(data-i18n='current') Current
input(class="xPointInput", type='text', name='attr_stamina', placeholder="0")
.calculation
    input(class="modifiedByCondition" type='hidden' value='0' name='attr_modified_by_condition')
    .fortDef.readOnly 
        label(class="fieldLabelAbove", data-i18n='fortitude-defense') Fort Def
        input(class="xPointInput", type='text', name='attr_stamina_fortDef', placeholder="0" readonly)
    .symbol 
        p +
    .MiscBonus 
        label(class="fieldLabelAbove", data-i18n='misc-bonus') Misc Bonus
        input(class="xPointInput", type='text', name='attr_stamina_miscBonus', placeholder="0")
    .symbol 
        p =
    .damageThreshold.readOnly
        label(class="fieldLabelAbove", data-i18n='damage-threshold') Damage Threshold
        input(class="xPointInput", type='text', name='attr_stamina_damageThreshold', placeholder="0" readonly)
button(class="labelButton secondWind", type="action", name="act_secondwind", data-i18n='second-wind') Second Wind