h3(class="headerLabel", data-i18n='stamina-points') Stamina Points
.fieldLabel 
    p(data-i18n='temporarary-abbr') Temp
input(type='text', name='attr_stamina_temp', placeholder="0")
.fieldLabel
    p(data-i18n='total') Total 
input(type='text', name='attr_stamina_total', placeholder="0")
.fieldLabel
    p(data-i18n='current') Current
input(type='text', name='attr_stamina_current', placeholder="0")