// Styles are in _spellsAndWeapons.scss
h2.headerLabel.left(data-i18n='weapons') Weapons
fieldset(class="repeating_weapons")
    .weaponContainer
        .button 
            .chatButtons
                button(class="labelButton sendToChat", type="roll" name="roll_attack_to_chat", value="@{attack_formula} @{damage_button}", data-18n-title="send-to-chat")
                    span(class="allcaps" data-i18n='attack') Attack
                .whisperButton 
                    button(class="whisperToChat", type="roll" name="roll_whisper_attack", value="/w gm @{attack_formula} @{whisper_damage_button}", data-i18n-title="whisper-to-chat")
                        span.iconButton w
            //button(class="labelButton", type='roll', value="@{attack_formula}", data-i18n='attack-roll') Attack
            // Damage Buttons (displayed in Chat)
            button(class="hidden" type='roll' name='roll_damage-to-chat' value="@{weapon-damage-formula}")
            button(class="hidden" type='roll' name='roll_crit-damage-to-chat' value="@{weapon-crit-damage-formula}")
            button(class="hidden" type='roll' name='roll_whisper-damage-to-chat' value="/w gm @{weapon-damage-formula}")
            button(class="hidden" type='roll' name='roll_whisper-crit-damage-to-chat' value="/w gm @{weapon-crit-damage-formula}")
            // Attack Formulae
            input(type='hidden', name='attr_attack_formula', value='&{template:roll} {{name=@{character_name}}} {{title=@{weapon}}} {{roll=[[1d20cs>@{weapon-crit}cf1 + @{weapon-atk}[ATK]+@{condition}+?{Additional Modifiers|0}[Modifier Pop-up]]]}} {{target=[[?{Target Defense Score|10}]]}} ')
            
            // Damage Button Template Includes
            input(type='hidden', name='attr_damage_button', value='{{buttons=1}} {{damage=[Normal Damage](~repeating_weapons_damage-to-chat)}} {{critical damage=[Critical Damage](~repeating_weapons_crit-damage-to-chat)}}')
            input(type='hidden', name='attr_whisper_damage_button', value='{{buttons=1}} {{damage=[Normal Damage](~repeating_weapons_whisper-damage-to-chat)}} {{critical damage=[Critical Damage](~repeating_weapons_whisper-crit-damage-to-chat)}}')
            // Damage
            input(type='hidden', name='attr_weapon-damage-formula', value='&{template:roll} {{name=@{character_name}}} {{title=^{damage} with @{weapon}}} {{Roll=[[ @{weapon-damage} + [[?{Additional # of damage dice|0}]]d6 ]]}}')
            input(type='hidden', name='attr_weapon-crit-damage-formula', value='&{template:roll} {{name=@{character_name}}} {{title=^{critical-damage} with @{weapon}}} {{Roll=[[ @{weapon-damage-dice}! + @{half-level} [half-level] + @{damage-attribute-mod-value} [@{weapon-damage-attribute-mod} Mod] + @{weapon-damage-misc-mod} [Misc Mod] + 1d6! [Crit d6] + [[?{Additional # of damage dice|0}]]d6! [Additional d6s per raise] ]]}}')
        .weapon
            label(class="fieldLabelAbove", data-i18n='weapon') Weapon
            input(class="textField", type='text', name='attr_weapon', value='', data-i18n-placeholder='weapon')
        .type
            label(class="fieldLabelAbove", data-i18n='type') Type
            select(class="weaponTypeDropdown", name='attr_weapon-type')
                option(value='melee', data-i18n='melee') Melee
                option(value='ranged', data-i18n='ranged') Ranged
        .damage 
            label(class="fieldLabelAbove", data-i18n='damage') 
            input(class="textField", type='text', name='attr_weapon-damage', value='', readonly)
        .config 
            label.cog
                input(class='hiddenInput', type='checkbox', name='attr_weapon_damage_config_toggle')
                span.configIcon y
        .crit 
            label(class="fieldLabelAbove", data-i18n='critical-abbr') Crit
            input(class="textField", type='text', name='attr_weapon-crit', value='20', data-i18n-placeholder='20')
        input(class='hideSection', type='hidden', name='attr_weapon_damage_config_toggle', value='0')
        .damage-config
            .dice 
                label(class="fieldLabelAbove", data-i18n='dice') Dice
                input(class="textField", type='text', name='attr_weapon-damage-dice', value='', data-i18n-placeholder='1d6')
            .addition
            .halfLevel 
                label(class="fieldLabelAbove", data-i18n='half-level-abbr') 1/2 Level
                input(class="textField", type='text', name='attr_weapon-half-level', readonly)
            .addition
            .attributeMod 
                label(class="fieldLabelAbove", data-i18n='attribute-abbr-modifier-abbr') Att Mod
                select(class="weaponTypeDropdown", name='attr_weapon-damage-attribute-mod')
                    option(value='strength_modifier' data-i18n='strength-abbr') STR
                    option(value='dexterity_modifier' data-i18n='dexterity-abbr') DEX
                    option(value='constitution_modifier' data-i18n='constitution-abbr') CON
                    option(value='intelligence_modifier' data-i18n='intelligence-abbr') INT
                    option(value='wisdom_modifier' data-i18n='wisdom-abbr') WIS
                    option(value='charisma_modifier' data-i18n='charisma-abbr') CHA
                    option(value='0' data-i18n='not-applicable-abbr') N/A
                input(type='hidden', name='attr_damage-attribute-mod-value')
            .addition 
            .miscMod 
                label(class="fieldLabelAbove", data-i18n='miscellaneous-modifier-abbr') Misc. Mod
                input(class="textField", type='text', name='attr_weapon-damage-misc-mod', value='0')
        .atk
            .atkField
                label(class="fieldLabelAbove", data-i18n='attack-abbr') Atk
                input(class='textField',type='text', name='attr_weapon-atk' readonly)
            .equals 
            .hpb 
                label(class="fieldLabelAbove", data-i18n='heroic-proficiency-bonus-abbr', data-i18n-title='heroic-proficiency') HPB
                input(class='textField', type='text', name='attr_weapon-heroic-proficiency', readonly)
            .addition 
            .attributeMod 
                label(class="fieldLabelAbove", data-i18n='attribute-abbr-modifier-abbr') Att Mod
                select(class="weaponTypeDropdown", name='attr_weapon-atk-bonus')
                    option(value='strength_modifier' data-i18n='strength-abbr') STR
                    option(value='dexterity_modifier' data-i18n='dexterity-abbr') DEX
                    option(value='constitution_modifier' data-i18n='constitution-abbr') CON
                    option(value='intelligence_modifier' data-i18n='intelligence-abbr') INT
                    option(value='wisdom_modifier' data-i18n='wisdom-abbr') WIS
                    option(value='charisma_modifier' data-i18n='charisma-abbr') CHA
                    option(value='none' data-i18n='not-applicable-abbr') N/A
            .addition
            .atkField
                label(class="fieldLabelAbove", data-i18n='miscellaneous-modifier-abbr') Misc. Mod 
                input(class='textField', type='text', name='attr_weapon-misc-mod', value='0')
        .notes 
            textarea(class="weaponNotes", name='attr_weapon-notes', data-i18n-placeholder='weapon-notes')