// Styles are in _spellsAndWeapons.scss
h2.headerLabel(data-i18n='weapons') Weapons
fieldset(class="repeating_weapons")
    input(type='hidden', name='attr_weapon-heroic-proficiency', readonly)
    .weaponContainer
        .button 
            .chatButtons
                button(class="sendToChat", type="action" name="act_attack_to_chat", value="@{attack_formula}", data-18n-title="send-to-chat")
                    span(class="allcaps" data-i18n='attack') Attack
                .whisperButton 
                    button(class="whisperToChat", type="action" name="act_whisper_attack", value="/w gm @{attack_formula}", data-i18n-title="whisper-to-chat")
                        span.iconButton w
            //button(class="labelButton", type='roll', value="@{attack_formula}", data-i18n='attack-roll') Attack
            input(type='hidden', name='attr_attack_formula', value='&{template:default} {{name=@{character_name}}} {{title=^{Attack}}} {{Roll=[[1d20 + @{weapon-atk-bonus}[Attack Bonus]+@{condition}+?{Additional Modifiers|0}[Modifier Pop-up]]]}}')
        .weapon
            label(class="fieldLabelAbove", data-i18n='weapon') Weapon
            input(class="textField", type='text', name='attr_weapon', value='', data-i18n-placeholder='weapon')
        .type
            label(class="fieldLabelAbove", data-i18n='type') Type
            select(class="weaponTypeDropdown", name='attr_weapon-type')
                option(value='melee', data-i18n='melee') Melee
                option(value='ranged', data-i18n='ranged') Ranged
        .damage 
            label(class="fieldLabelAbove", data-i18n='damage') 
            input(class="textField", type='text', name='attr_weapon_damage', value='', readonly)
        .config 
            label.cog
                input(class='hiddenInput', type='checkbox', name='attr_weapon_damage_config_toggle')
                span.configIcon y
        .crit 
            label(class="fieldLabelAbove", data-i18n='critical-abbr') Crit
            input(class="textField", type='text', name='attr_weapon-crit', value='20', data-i18n-placeholder='20')
        input(class='hideSection', type='hidden', name='attr_weapon_damage_config_toggle', value='0')
        .damage-config
            .dice 
                label(class="fieldLabelAbove", data-i18n='dice') Dice
                input(class="textField", type='text', name='attr_weapon_damage_dice', value='', data-i18n-placeholder='1d6')
            .addition
            .halfLevel 
                label(class="fieldLabelAbove", data-i18n='half-level-abbr') 1/2 Level
                input(class="textField", type='text', name='attr_weapon-half-level', readonly)
            .addition
            .attributeMod 
                label(class="fieldLabelAbove", data-i18n='attribute-abbr-modifier-abbr') Att Mod
            .addition 
            .miscMod 
                label(class="fieldLabelAbove", data-i18n='miscellaneous-modifier-abbr') Misc. Mod
                input(class="textField", type='text', name='attr_weapon-damage-misc-mod', value='0')
        .atk
            .atkField
                label(class="fieldLabelAbove", data-i18n='attack-abbr') Atk
                input(class='textField',type='text', name='attr_weapon-atk' readonly)
            .equals 
            span(class="atkFormula", data-i18n='heroic-proficiency-bonus-abbr') HPB 
            .addition 
            select(class="weaponTypeDropdown", name='attr_weapon-atk-bonus')
                option(value='str' data-i18n='strength-abbr') STR
                option(value='strx2' data-i18n='strength-x2-abbr') STR x2
                option(value='dex' data-i18n='dexterity-abbr') DEX
            .addition
            .atkField
                label(class="fieldLabelAbove", data-i18n='miscellaneous-modifier-abbr') Misc. Mod 
                input(class='textField', type='text', name='attr_weapon-misc-mod', value='0')
        .notes 
            textarea(class="weaponNotes", name='attr_weapon-notes', data-i18n-placeholder='weapon-notes')