include ./templates/_sheet.pug

//Rolltemplates
include ./html/rolltemplate.html

// Sheet Worker Scripts
script(type="text/worker")
        include ./scripts/globalVariables.js
        include ./scripts/onOpen.js
        include ./scripts/workers.js
        include ./scripts/buttonbar.js
        include ./scripts/weightScript.js
        include ./scripts/skillWorkers.js
        include ./scripts/weapons.js
        include ./scripts/spells.js
        include ./scripts/actionButtons.js
