include ./templates/_sheet.pug

script(type="text/worker")
        include ./scripts/onOpen.js
        include ./scripts/workers.js
        include ./scripts/buttonbar.js
        include ./scripts/weightScript.js