//
    include ./templates/_sheet.pug

    script(type="text/worker")
        include ./scripts/attackMatrices.js
        include ./scripts/workers.js
        include ./scripts/rollSanitizer.js
        include ./scripts/buttonbar.js
        include ./scripts/attributeScripts.js
        include ./scripts/actionButtons.js
        include ./scripts/combat.js

        include ./scripts/onOpen.js
        include ./scripts/weightScript.js
        include ./scripts/equipmentCompendium.js
        include ./scripts/mutationsCompendium.js
        include ./scripts/hazardsCompendium.js
        include ./scripts/characterCreator.js